name: HeroDevs EOL Scan for NodeJS projects

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm i

      - name: Prepare HeroDevs folder structure
        run: mkdir -p .herodevs/scans

      - name: Run EOL Scan
        run: npx --yes @herodevs/cli@beta --json > .herodevs/scans/eol-scan-${{ github.run_id }}-${{ github.run_attempt }}.json

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: HeroDevs EOL scan ${{ github.run_id }}-${{ github.run_attempt }}
